# Data Science Tools and Ecosystem

### Objectives:

 - List of the popular languages for Data Science;
    - List of the commonly used libraries;
        - Table Data Science Tools.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL
2. Java
3. Python
4. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciPy

| Data Science Tools |
| ------ |
| Tableau |
|Apache Spark| 
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [10]:
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

## Author

Nazar Vasyuta